body{
  background-color: rgb(192, 115, 38);
  color: white;
}

.header{
  margin-left: 45vw;
  margin-top: 15vh;
}

.my-icon{
  color: white;
  font-size:xx-large;
  display: inline-block;
  margin-right: 1%;
}

.main{
  display: inline-block;
}

.info{
  margin: auto;
  width: 25%;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.text{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.text h2{
  margin-bottom: 0;
}
.text h3{
  margin-top: 0;
}
.info p{
  margin-left: 40%;
  width: 80px;
  height: 80px;
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  font-size: xx-large;
  display: inline-block;
}

.form{
  margin: auto;
  width: 25%;
  display: flex;
}

#form-input{
  height: 30px;
  border-radius: 10px;
  width: 325px;
  color: brown;
  margin-left: 5px;
  margin-right: 5px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
}

.plus{
  width: 100%;
  height: 100%;
  font-size: 100%;
  color: white;
}

.list {
  margin-left:35vw;
  width: 25%;
  margin-top: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: rgb(11, 11, 11);
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-left {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  overflow: hidden;
  border: 0;
}


.todo-left p {
  flex: 1;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  color: black;
}

#checkbox{
  font-size: 16px;
  flex-shrink: 0;
}
.todo-right{
  flex-shrink: 0;
}
.todo-right button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.todo-edit,
.todo-delete {
  font-size: 18px;
  color: #666;
  transition: color 0.2s ease;
}

.todo-edit:hover {
  color: #4CAF50; 
}

.todo-delete:hover {
  color: #f44336;
}


.edit-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.edit-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

#p{
  color: black;
  font-size: xx-large;
  text-align: center;
}
